name: SonarCloud

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v5 # Актуальная версия на 2026 год

      - name: Set up Python
        run: uv python install 3.13

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Run tests with coverage
        working-directory: .
        run: |
          uv run coverage run manage.py test
          uv run coverage xml -o coverage.xml
          ls -l coverage.xml
        env:
          # Базовые настройки для запуска Django в среде GitHub Actions
          DATABASE_URL: sqlite:///db.sqlite3
          SECRET_KEY: "temporary-key-for-sonar-scan"
          UV_CACHE_DIR: /tmp/uv-cache

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v3
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=RomanVetrov_python-project-83
            -Dsonar.organization=romanvetrov
            -Dsonar.sources=.
            -Dsonar.python.version=3.13
            -Dsonar.exclusions=**/migrations/**,**/tests/**,manage.py,task_manager/asgi.py,task_manager/wsgi.py
            -Dsonar.python.coverage.reportPaths=coverage.xml
